.btn {
    width: max-content;
    display: block;
    padding: .8em 1.2em;
    text-transform: uppercase;
    font-weight: $fw-medium;
    font-size: $mobile-font;
    border-radius: 4px;
}

.btn-primary {
    @extend .btn;
    background-color: $red;
    color: $light;
    @include transition(.2s);

    &:hover {
        // color: $red;
        background-color: $red-dark;
        // box-shadow: 3px 7px 7px rgba($red, .2);
    }
}

.btn-secondary {
    @extend .btn;
    background-color: $light;
    color: $black;
    font-weight: $fw-bold;
    @include transition(.2s);

    &:hover {
        background-color: $light;
        color: $red;
    }
}