form {
    padding: .5rem 0;

    label {
        display: block;
    }

    input, textarea {
        padding: .8em 1.3em;
        width: 100%;
        font-weight: $fw-normal;
        outline: 0;
        border: 0;
        border-radius: 4px;
    }

    input::placeholder,
    textarea::placeholder {
        font-weight: $fw-normal;
    }

    .alert {
        font-weight: $fw-bold;
        color: $light;
        font-size: .7rem;
        padding-left: .5rem;
        display: none;

        &.active {
            display: block;
        }
    }
}