.home {
    .search-recipes {
        background: $gray;

        .backdrop {
            padding: 0;
        }

        .content {
            margin: 0;
        }
    }
}

.search-recipes {

    .backdrop {
        padding: 3rem 10%;

        @include media-lg {
            padding: 5rem;
        }
    }

    h2 {
        color: set-text-color($light);
        text-align: center;
        max-width: 400px;
        margin: .5rem auto;

        @include media-lg {
            max-width: 500px;
        }
    }

    label {
        position: relative;
        max-width: 600px;
        margin: 0 auto;
    }

    #search {
        padding-right: 3.5em;
        
        &:focus {
            box-shadow: 0 0 0 3px rgba($black, .7), 0 0 0 6px $light;
        }
    }

    .icon {
        position: absolute;
        top: 0;
        right: 0;
        background-color: $black;
        display: block;
        padding: .9em 1.1em;
        color: $light;
        cursor: pointer;
    }

    .content {
        margin-top: 2rem;
        background-color: $light;
        // padding: 2rem .5rem;

        .recipes {
            // margin-bottom: 2rem;
            
            &.empty {
                padding: 0;
            }
        }
    }
}

#recipes {
    &.active {
        .content {
            padding-top: 5rem;
            padding-bottom: 3rem;
        }

        .recipes-container {
            padding: 3rem 0;
        }
    }
}

#recipes .search-recipes {
    padding: 2rem 7%;

    label {
        width: 90%;
        margin: 0 auto;
    }

    input {
        border-radius: 0;
        border-bottom: 2px solid $black;    
        outline: 0;
        @include transition(.4s);
    
        &:focus {
            border-bottom: 2px solid $red; 
            box-shadow: none;
        }
    }

    .btn-primary {
        width: 90%;
        margin: 1rem auto;
    }

    .content {
        padding: 0;
        margin-top: 0;
    }
    
}