.btn {
    width: max-content;
    display: block;
    padding: 1em 2em;
    text-transform: uppercase;
    font-weight: $fw-medium;
    font-size: $mobile-font;
}

.btn-primary {
    @extend .btn;
    background-color: $primary-color;
    color: $light;
    transition: .4s ease-in-out;

    &:hover {
        color: $primary-color;
        background-color: $light;
    }
}

.btn-secondary {
    @extend .btn;
    background-color: $light;
    color: $primary-color;
    font-weight: $fw-bold;
}