form {
    padding: 1rem 0;

    label {
        display: block;
    }

    input, textarea {
        padding: 1em 1.5em;
        width: 100%;
        font-weight: $fw-normal;
        outline: 0;
        border: 0;
    }

    input::placeholder,
    textarea::placeholder {
        font-weight: $fw-normal;
    }
}