.recipes {
    padding: 2rem 10%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: 250px;
    gap: 30px 20px;

    @include media-lg {
        padding: 3rem;
        gap: 30px;
    }

    &+.btn-primary {
        width: 150px;
        text-align: center;
        margin: 1rem auto;
    }
}

.recipe-item {
    position: relative;
    cursor: pointer;
    overflow: hidden;

    @include media-lg {
        &:hover {
            img {
                filter: grayscale(0%);
                transform: scale(1.2);
            }

            .recipe-name {
                color: $primary-color;
            }
        }
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        @include transition(.3s);

        @include media-lg {
            filter: grayscale(50%) blur(1px);
        }
    }

    figcaption {
        -moz-backdrop-filter: blur(7px);
        -webkit-backdrop-filter: blur(7px);
        backdrop-filter: blur(7px);
        position: absolute;
        width: 100%;
        text-align: center;
        bottom: -1px;
        left: 0;
        background-color: rgba($dark, .8);
        @include flex($justify: center, $direction: column);

        .hide {
            display: none;
        }
    }
}

.recipe-name {
    color: $light;
    font-weight: $fw-medium;
    font-size: 1.2rem;

    @include media-lg {
        font-size: 1.1rem;
        @include transition(.4s);
    }
}

.btn-secondary {
    display: none;
} 

.hide {
    display: none;
}