@import "abstracts";

.form {
    text-align: left;
    width: 100%;

    &Group {
        margin-bottom: 1.7rem;
    
        label {
            color: rgba($dark, .7);
            margin-bottom: .3rem;

            &.active {
                color: $text;
            }
        }

        input, textarea {
            border-bottom: 1px solid rgba($dark, .3);
            color: $text;
            @include transition(.3s);
    
            &:focus, &:hover {
                border-bottom-color: $text;
            }
        }

        small {
            color: $primary;

            &::first-letter {
                text-transform: capitalize;
            }
        }
    }

    button {
        width: 120px;
        margin-left: auto;
    }

}