@import 'abstracts';

.card {
    @include transition(.3s);

    &:hover {
        & .cardContent {
            color: $primary;
        }

        & .cardImage {
            overflow: hidden;

            img {
                transform: scale(1.1);
            }
        }
    }
}

.cardImage {
    height: 250px;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        @include transition(.3s);
    }
}

.cardContent {
    background-color: $light;
    padding: 1rem 2rem;

    p {
        margin-bottom: 0;
        font-weight: $fw-normal;
    }
}