
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: $font-body;
    font-size: $mobile-font;
    line-height: 1.5;

    @include media-lg {
        font-size: $desktop-font;
    }
}

a {
    text-decoration: none;
    display: block;
}

img {
    width: 100%;
    display: block;
}

button  {
    border: 0;
    cursor: pointer;
    background-color: transparent;
    line-height: 1.5;
}

ul {
    list-style-type: none;
}

h1, h2, h3, h4 {
    font-family: 'Source Sans Pro', sans-serif;;
    margin-bottom: .5em;

    span {
        color: $secondary;

    }
}

h1 {
    font-size: 2.2rem;
    line-height: 1;
    text-transform: uppercase;
    color: $light;

    @include media-lg {
        font-size: 3rem;
        line-height: 1.1;
    }
}

h2 {
    font-size: 1.5rem;

    @include media-lg {
        font-size: 1.8rem;
    }
}

p {
    margin: 1em 0;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    overflow: hidden;
}