
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: $ff-body;
    font-size: $fs-mobile;
    line-height: 1.5;
    font-weight: $fw-normal;
    max-width: 1440px;
    margin: 0 auto;

    @include media-lg {
        font-size: $fs-desktop;
    }
}

a {
    text-decoration: none;
    display: block;
}

img {
    width: 100%;
    display: block;
}

button  {
    border: 0;
    cursor: pointer;
    background-color: transparent;
    line-height: 1.5;
}

ul {
    list-style-type: none;
}

h1, h2, h3, h4 {
    font-family: $ff-heading;
    margin-bottom: .5em;
    text-transform: capitalize;

    span {
        color: $primary;
    }
}

h1 {
    font-size: clamp(2rem, calc(1.5714rem + 2.1429vw), 3.5rem);
    line-height: 1.1;

    @include media-lg {
        line-height: 1.1;
    }
}

h2 {
    font-size: clamp(1.65rem, calc(1.2643rem + 1.9286vw), 2.85rem);
}

h3 {
    font-size: clamp(1.3rem, calc(1.2872rem + 0.6809vw), 1.9rem);
}

p {
    margin-bottom: 1em;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    overflow: hidden;
}