.contact {
    // padding: 2rem 0;

    @include media-lg {
        display: grid;
        grid-template-columns: 1fr 1fr;

        & > div {
            padding: 5rem 10%;
        }
    }

    &-form {
        padding: 3rem 1.8rem;
        background-color: $gray;

        @include media-lg {
            // flex: 1 0 50%;
        }

        h1 {
            color: $black;
            text-align: center;
        }

        p {
            color: $red;
            text-align: center;
        }

        label {
            font-size: 1rem;
            font-weight: $fw-normal;
        }

        input, textarea {
            margin: 1rem 0 1.5rem;
        }

        .btn-primary {
            margin-right: 0;
            margin-left: auto;
        }
    }

    &-info {
        background-color: $red;
        color: $light;
        padding: 3rem 1.8rem;

        @include media-lg {
            @include flex(center, flex-start, column)
        }

        h2 {
            margin-bottom: 1em;
        }

        h3 {
            font-size: 1rem;
        }

        .socials {
            margin-top: 2rem;
        }

        .social-icons {
            margin: 0;

            a:hover {
                color: $black;
            }
        }
    }
}