.backdrop {
    background-color: rgba($black, .7);
}

.hero {
    background: url(../images/hero.jpg) bottom center / cover no-repeat;

    @include media-lg {
        background-position: center center;
        background-size: 100%;
    }

    .backdrop {
        padding: 8rem 1.8rem 7rem;

        @include media-lg {
            padding: 9rem;
        }
    }

    h1 {
        text-align: center;
        margin: 1.2rem auto;

        @include media-lg {
            width: 500px;
        }
    }

    p {
        color: set-text-color($black);
        margin: 1em 0;
        text-align: center;

        @include media-lg {
            width: 500px;
            margin-left: auto;
            margin-right: auto;
        }
    }

    .cta {
        @include flex();
        width: 100%;
        max-width: 400px;
        margin: 2rem 0;

        @include media-lg {
            flex-direction: row;
            margin: 0 auto;
        }
    }
}

.search-recipes {
    position: relative;
}

.home form {
    position: absolute;
    top: -70px;
    left: 50%;
    width: 80%;
    margin-left: calc(80%/ -2);
    background: linear-gradient(to top left, $black, $red);
    padding: 1.5rem;
    border-radius: 8px;

    @include media-lg {
        padding: 1rem 2rem;
        max-width: 700px;
        margin-left: -350px;
    }

    input {
        background-color: $light;
        margin-bottom: 1rem;
    }

    .btn-primary {
        width: 100%;
    }

    &.error {
        input {
            margin-bottom: .3rem;
        }
    }
}

.form-control {
    position: relative;

    div {
        position: absolute;
        top: 4px;
        right: .5rem;
    }

    .alert {
        margin-bottom: 1.3rem;
    }
}

.home {
    .recipes-container {
        padding: 7rem 0;

        @include media-lg {
            padding: 5rem;
        }

        h2 {
            text-align: center;
            color: $black;
        }
    }

    &.active {
        .content {
            padding-top: 5rem;
            padding-bottom: 3rem;
        }

        .recipes-container {
            padding: 3rem 0;
        }
    }
}



// banner section
.banner {
    background: url(../images/banner.jpg) 0% 75% / cover no-repeat;

    @include media-lg {
        background-position: 0% 65%;
    }

    h1 {
        font-size: 1.8rem;
        padding: 7rem 5%;
        text-align: center;
        max-width: 600px;
        margin: 0 auto;

        @include media-lg {
            font-size: 3.125rem;
            padding: 10rem 0;
        }
    }
}
