@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;500;600;700;800&display=swap');

$font-stack: 'Exo 2', Roboto, sans-serif;

$mobile-font: .94rem;
$desktop-font: 1.125rem;

$fw-light: 400;
$fw-normal: 500;
$fw-medium: 600;
$fw-bold: 700;
$fw-boldest: 800; 