$ff-heading: 'Playfair Display', Helvetica, serif;
$ff-body: 'Source Sans Pro', Garamond, sans-serif;

$fs-mobile: 1rem;
$fs-desktop: 1.125rem;

$fw-light: 300;
$fw-normal: 400;
$fw-medium: 500;
$fw-bold: 800;