// flexbox mixin
@mixin flex($justify: space-between, $align: center, $direction: row) {
    display: flex;
    flex-direction: $direction;
    flex-wrap: wrap;
    justify-content: $justify;
    align-items: $align;
}

// generic transition
@mixin transition($duration) {
    transition: all $duration ease-out;
}

// center block element
@mixin center {
    margin-left: auto;
    margin-right: auto;
}


// MEDIA QUERIES
// small devices like galaxy fold
@mixin media-xs {
    @media screen and (max-width: 320px) {
        @content;
    }
}

// tablets
@mixin media-md {
    @media screen and (min-width: 650px) {
        @content;
    }
}

// laptops 
@mixin media-lg {
    @media screen and (min-width: 1024px) {
        @content;
    }
}

// desktops
@mixin media-xl {
    @media screen and (min-width: 1280px) {
        @content;
    }
}