@import 'abstracts';

.hero {
    background-color: $dark;
    padding-top: 7rem;
    position: relative;

    &-image {
        width: 80%;
        margin: 3rem auto 0;
        position: relative;
        z-index: 2;

        img {
            width: 80%;
            display: block;
            margin: 0 auto;
        }
    }

    @include media-md {
        @include flex;
        flex-wrap: nowrap;
        padding: 5rem 0 5rem 9%;
        @include center;

        &-image {
            flex: 1 1 40%;
            margin-top: 0;
            margin-left: 0;
            max-width: 374px;

            img {
                width: 100%;
            }
        }
    }

    @include media-lg {
        padding: 2rem 0 2rem 9%;
    }
}

.hero-content {
    color: $light;
    width: 90%;
    margin: 0 auto;
    text-align: center;

    h1, p, button {
        @include center;
    }

    h1 {
        letter-spacing: 1px;
        max-width: 16ch;
    }

    p {
        max-width: 50ch;
    }

    @include media-md {
        flex: 1 1 60%;
        text-align: left;
        max-width: 560px;
        margin-left: 0;


        h1 {
            @include left-align;
        }

        p {
            @include left-align;
            font-size: 18px;
        }

        button {
            @include left-align;
            margin-top: 1.5rem;
        }
    }

    @include media-lg {
        // flex: ;
    }
}

%heading2 {
    position: relative;
    width: max-content;
    @include center;
    
    &::after {
        content: "";
        position: absolute;
        left: -10px;
        bottom: -7px;
        width: 60%;
        height: 2px;
        background-color: $primary;
    }
}

.tools-highlight {
    padding: 5rem 0 9rem;
    position: relative;

    h2 {
        @extend %heading2;
    }

    button {
        @include center;
    }
}

.top-recipes {
    background-color: $dark;
    padding: 2rem 0 4rem;

    h2 {
        @extend %heading2; 
        color: $light;
        padding-top: 2rem;
    }

    button {
        @include center;
    }
}

.gradient-bg {
    height: 400px;

    h1 {
        max-width: 22ch;
    }
}