@import 'abstracts';

.hero {
    background-color: $dark;
    padding-top: 7rem;
    position: relative;

    &-image {
        width: 80%;
        margin: 3rem auto 0;
        position: relative;
        z-index: 2;

        img {
            width: 80%;
            display: block;
            margin: 0 auto;
        }
    }
}

.hero-content {
    color: $light;
    width: 90%;
    margin: 0 auto;
    text-align: center;

    p {
        width: 40ch;
        margin: 0 auto;
    }

    button {
        @include center
    }
}

%heading2 {
    position: relative;
    width: max-content;
    @include center;
    
    &::after {
        content: "";
        position: absolute;
        left: -10px;
        bottom: -7px;
        width: 60%;
        height: 2px;
        background-color: $primary;
    }
}

.tools-highlight {
    padding: 5rem 0 9rem;
    position: relative;

    h2 {
        @extend %heading2;
    }

    button {
        @include center;
    }
}

.top-recipes {
    background-color: $dark;
    padding: 2rem 0 4rem;

    h2 {
        @extend %heading2; 
        color: $light;
        padding-top: 2rem;
    }

    button {
        @include center;
    }
}

