@import '../scss/abstracts';
@import './Home.scss';

.recipes {
    background-color: $dark;
    border-bottom: 1px solid rgba($gray, .3);
    padding-bottom: 2rem;

    // target the GradientBackground component
    & > div:first-child > div:first-child {
        height: 400px;

        @include media-md {
            height: 450px;
        }
    }
}

.form {
    width: 80%;
    margin: 1rem auto;
    text-align: left;
    background-color: rgba($dark, .8);
    padding: 1.5rem 2rem 1rem;
    max-width: 500px;

    @include media-md {
        padding: 2rem;
    }
}

.formGroup {
    position: relative;
    flex: 1 1 100%;
    height: 76px;

    label {
        color: rgba($gray, .7);
    }

    input {
        margin-bottom: .3rem;
        border-bottom: 1px solid rgba($gray, .5);
        color: $light;

        &:focus {
            border-bottom: 1px solid $light;
        }
    }

    small {
        color: $primary;
        font-size: 12px;
    }

    button {
        position: absolute;
        right: 7px;
        top: 27px;
        color: $light;
    }
}

.allRecipes {
    padding-top: 4rem;

    h3 {
        color: $light;
        text-align: center;
        @extend %heading2;
    }

    .error {
        color: $light;
        text-align: center;
        margin-top: 2rem;
        max-width: 40ch;
        @include center;
    }
}