@import 'abstracts';

.overlay {
    background-color: rgba($dark, .8);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(5px);
    @include flex(center);
    @include transition(.4s);
    
    &.open {
        visibility: visible;
        opacity: 1;

        .modal {
            animation: popIn .3s linear forwards .2s;
        }
    }
    
    &.closed {
        visibility: hidden;
        opacity: 0;
    }
}

.modal {
    background-color: $light;
    width: 88%;
    max-width: 500px;
    padding: 3rem;
    text-align: center;
    transform: perspective(33em) rotateY(90deg);

    i {
        color: #008C61;
        display: block;
        text-align: center;
        margin-bottom: 2rem;
    }

    h2 {
        margin-bottom: .4rem;
    }

    p {
        max-width: 40ch;
        @include center;
    }

    button {
        @include center;
        margin-top: 3rem;
        margin-bottom: 2rem;
        width: 80%;
        max-width: 300px;
    }
}

@keyframes popIn {
    70% {
        transform: perspective(33em) rotateY(-20deg);
    }

    to {
        transform: perspective(33em) rotateY(0deg);
    }
}