header {
    height: 90px;

    @include media-lg {
        height: auto;
    }
}

.header-nav {
    @include flex($align: flex-start);
    position: fixed;
    width: 100%;
    background-color: $dark;
    padding: .8rem 1.7rem .8rem .5rem;
    z-index: 3;
    height: 90px;
    overflow: hidden;
    transition: height .4s ease;

    @include media-lg {
        position: static;
        height: auto;
        padding: 1% 10%;
        align-items: center;
    }

    &.open {
        height: 100vh;
    }

    .logo {
        flex: 0 1 150px;

        @include media-lg {
            flex-basis: 200px;
        }
    }

    .menu {
        order: 1;
        flex: 1 0 100%;
        position: absolute;
        top: 95px;
        margin-top: 1.5rem;

        @include media-lg {
            position: static;
            flex: 0 1 300px;
            margin-top: 0;
            @include flex();
        }

        &-item {
            padding: 1rem 1.7rem;
            transform: translateX(-100vw);
            transition: .4s ease;

            @include media-lg {
                padding: 1rem;
            }

            &.open {
                transform: translateX(0);
            }

            @include media-lg {
                transform: translateX(0);
            }
        }

        &-link {
            color: $gray;
            font-size: 1.5rem;
            text-transform: uppercase;

            @include media-lg {
                font-size: 1rem;
                transition: .4s ease-in-out;

                &:hover {
                    color: $primary-color;
                }
            }
        }
    }

    .menu-toggle {
        position: relative;
        width: 30px;
        height: 15px;
        margin-top: 1.5rem;
        
        &::before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            width: 30px;
            height: 2px;
            background-color: $light;
            transition: all .4s ease;
        }

        &::after {
            content: '';
            position: absolute;
            top: 10px;
            right: 0;
            width: 15px;
            height: 2px;
            background-color: #fff;
            transition: all .4s ease;
        }

        &.open {
            &::before {
                transform: translate(0px, 9px) rotateZ(45deg);
            }

            &::after {
                width: 30px;
                transform: rotateZ(-45deg);
            }
        }

        @include media-lg {
            display: none;
        }
    }
}

// variable transition delay for each menu item
@for $i from 1 through 3 {
    .menu-item:nth-child(#{$i}) {
        transition-delay: ($i * 0.15s);
    }
}