@import '../../scss/abstracts';

.header {
  background-color: $text;
  overflow: hidden;
  height: 70px;

  @include media-lg {
    height: 100px;
  }
}

.content {
  @include flex();
  flex-wrap: wrap;
  width: 100%;
  background-color: $text;
  padding: 0.8rem 2.5rem 0.8rem 0.4rem;

  @include media-md {
    padding: 1% 7%;
  }

  @include media-lg {
    align-items: center;
  }
}

.logo {
  flex: 0 1 150px;

  @include media-lg {
    flex-basis: 170px;
  }

  & img {
    width: 80%;

    @include media-lg {
      width: 100%;
    }
  }
}

.headerNav {
  order: 3;
  flex: 1 1 100%;
  overflow: hidden;

  @include media-md {
    position: static;
    transition: none;
    flex: 0 1 350px;
    // height: auto;
  }
}

.menu {
  margin-top: 0.5rem;
  overflow: hidden;
  @include flex(null, flex-end, $direction: column);

  @include media-md {
    margin-top: 0;
    @include flex();
  }

  &Item {
    padding: 0.5rem 0rem;

    @include media-md {
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }

    @include media-lg {
      padding: 1rem;
    }
  }

  &Link {
    color: $gray;
    font-size: $fs-mobile;
    text-transform: capitalize;
    position: relative;

    &.active {
      &::after {
        content: '';
        position: absolute;
        bottom: -5px;
        left: 0;
        width: 70%;
        height: 2px;
        background-color: $primary;
      }
    }

    @include media-lg {
      font-size: 1rem;
      transition: 0.4s ease-in-out;

      &:hover {
        color: $primary;
      }
    }
  }
}

.menuToggle {
  position: relative;
  width: 20px;
  height: 15px;
  outline: 0;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 2px;
    background-color: $light;
    transition: all 0.4s ease;
  }

  &::after {
    content: '';
    position: absolute;
    top: 10px;
    right: 0;
    width: 10px;
    height: 2px;
    background-color: $light;
    transition: all 0.4s ease;
  }

  &.open {
    &::before {
      transform: translate(0px, 10px) rotateZ(48deg);
    }

    &::after {
      width: 20px;
      transform: rotateZ(-43deg);
    }
  }

  @include media-md {
    display: none;
  }
}
