@import 'abstracts';

.gradient-bg {
    width: 100%;
    height: 250px;
    background-position: center center;
    background-size: cover;
    color: $light;

    & > div {
        @include flex();
        padding: 2rem;
        background: rgba($dark, .8);
        width: 100%;
        height: 100%;
        text-align: center;

        h2 {
            @include center;
        }
    }
}