@import '../../scss/abstracts';

footer {
    background-color: $dark;
}

.footerTop {
    @include flex;
    @include center;
    padding: 1.5rem 2rem;
    gap: 3rem;

    a {
        color: $light;
    }

    @include media-md {
        padding: 1% 7%;
    }
}

.logo {
    flex-basis: 100px;
    margin-left: -10px;

    img {
        height: 100%;
        width: 100%;
    }

    @include media-md {
        flex-basis: 130px;
    }
}

.nav {
    flex-basis: 170px;
    @include flex;

    a {
        font-size: $fs-mobile;
        @include transition(.3s);

        &:hover {
            color: $primary;
        }
    }

    @include media-md {
        flex-basis: 200px;
    }
}

.socials {
    flex-basis: 50px;
    @include flex;

    & a {
        @include transition(.3s);

        &:first-of-type {
            font-size: 20px;
        }

        &:hover {
            color: $primary;
        }
    }
}

.footerBottom {
    background-color: $light;
    padding: 1rem;
    
    p {
        text-align: center;
        margin-bottom: 0;
        font-size: 15px;
    }
}

