@import 'abstracts';

.slantBox {
    width: 100%;
    background-color: $light;
    height: 150px;
    clip-path: polygon(100% 0%, 100% 100%, 0% 100%);
    position: absolute;
    left: 0;
}

.backgroundBox {
    width: 100%;
    background-position: center center;
    background-size: cover;
    color: $light;
    height: 300px;

    .content {
        background: rgba($dark, .8);
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr;
        place-items: center center;
        place-content: center center;

        h1 {
            max-width: 17ch;
            text-align: center;
        }

        p {
            width: 80%;
            max-width: 50ch;
            text-align: center;
        }
    }

    @include media-md {
        height: 400px;
    }
}