$red: #E63B2E;
$red-dark: #c41116;
$black: #1B1B1E;
$light: #FBFFFE;
$gray: #EEEEEE;
$secondary: #E59500;

// $black: #232020;
// $dark: #2E282A;
// $greane: #2E3532;
$w: #02394A;
$ew: #043565;
$a1:#2E2836;
